<ons-page>
    <ons-toolbar>
        <div class="center">Home</div>
    </ons-toolbar>
    Home
    AngularJS: {{1+1}}
    <p style="text-align: center">
        <ons-button ng-click="myNavigator.pushPage('views/page2.html')">Click me!</ons-button>
    </p>
</ons-page>